<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Escape Rooms and Real Life Quest Games">
    <meta name="keywords" content="real escape room in seattle, seattle escape, teambuilding, teambuilding seattle, room escape seattle, puzzle break, seattle room escape, real escape seattle, room quest seattle, puzzle room seattle, redmond escape room, washington escape room, escape room">
    
    <title><%= current_page.data.title %></title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700" rel="stylesheet">
    
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    
    <%= favicon_tag 'images/favicon.ico' %>
    
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :slick %>
    <%= stylesheet_link_tag :mobile %>
    
    <%= javascript_include_tag :all %>
    
  </head>

  <body>
    
    <div class="stripes">
      <div class="stripe"></div>
      <div class="stripe"></div>
      <div class="stripe"></div>
      <div class="stripe"></div>
      <div class="stripe"></div>
      <div class="stripe"></div>
    </div>
    
    <nav class="main-menu">
      <ul>
        <li>
          <a href="index.html">home</a>
        </li>
        <li>
          <a href="contacts.html">contacts</a>
        </li>
        <li>
          <a href="quests.html">games</a>
        </li>
        <li>
          <a href="map.html">map</a>
        </li>
      </ul>
    </nav>
    
    <!--mobile  menu-->
    
    <div class="mobile-menu">
      <a href="index.html" class="logo"></a>
      <a id="menu-button" href="#"></a>
    </div>
		<div id="hamburger-menu">
			<nav>
				<a href="index.html">home</a>
				<a href="contacts.html">contacts</a>
				<a href="quests.html">quests</a>
				<a href="map.html">map</a>
			</nav>
		</div>
		<div id="overlay"></div>
    
    <!--end-->
    
    <div class="current-city">
      <p>seattle</p>
    </div>
    
    <div class="header">
      <div class="phone">
        <img src="../images/phone.png">
        <p>+1 (929) 277-70-60</p>
      </div>
        <img src="../images/logo.png">
        <p class="neon">escape rooms</p>
      <div class="location">
        <img src="../images/location.png">
        <p>seattle</p>
      </div>
    </div>
    
    <%= yield %>
    
    <div class="footer">
      <div class="first-row">
        <img src="images/logo.png">
      </div>
      <div class="second-row">
        <p>© QUEST FACTOR USA questfactory.us</p>
        <p>© QUEST FACTOR RUSSIA quest-union.ru</p>
      </div>
    </div>
    
  </body>
</html>
